@import "tailwindcss";
html, body {
  height: 100%;
  scroll-behavior: smooth;
  color: #1f2937;
}
:root {
  --primary: #6c4fe0;
  --color-primary: #844ce7;
  --color-accent:  #00c9d8;
  --color-purple:  #7B79DA;
  --color-darkpurple: #5958A6;
  

}

.shadow-card { box-shadow: 0 2px 6px rgba(0,0,0,.05); }
